.rp-inventory {
	padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.rp-inventory-header {
}

.rp-inventory-popup-create {
    position: absolute;
    z-index: 100;
    width: 600px;
    height: 550px;
    display: block;
    visibility: collapse;
    background-image: url('../img/shapes/armor-bg.jpg');
    background-repeat: repeat-x;
    background-color: #22211f;
    border: 1px solid white;
    padding: 10px;
}

.rp-inventory-popup-create textarea {
    height: 100px;
    width: 400px;
}

.rp-inventory-popup-create input {
    width: 402px;
}

.rp-inventory-popup-create-icon {
    position: absolute;
    left: 10px;
    top: 60px;
    z-index: 110;
    width: 578px;
    height: 450px;
    display: block;
    visibility: collapse;
    background-image: url('../img/shapes/armor-bg.jpg');
    background-repeat: repeat-x;
    background-color: #22211f;
    border: 1px solid white;
    padding: 10px;
}

.rp-inventory-popup-create-icon-list {
    width: 100%;
    height: 375px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.rp-inventory-button {
    width: 80px;
    height: 32px;
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    border-left: 2px solid rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid rgba(0, 0, 0, 0.35);
    border-right: 2px solid rgba(0, 0, 0, 0.35);
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    line-height: 32px;
    cursor: default;
    display: inline-block;
}

.rp-inventory-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.rp-inventory-container-icon {
    width: 45px;
    height: 38px;
    display: inline-block;
}

.rp-inventory-container-icon-armor {
}

.rp-inventory-container-icon-default {
}

.rp-inventory-container {
    margin-top: 10px;
    width: 660px;
    position: relative;
}

.rp-inventory-container-content {
    background-image: url('../img/shapes/armor-bg.jpg');
    background-repeat: repeat-x;
    background-color: #22211f;
}

.rp-inventory-container-bottom {
    background-image: url('../img/shapes/container_bottom.png');
    height: 30px;
    margin-top: -8px;
    z-index: 1;
    position: relative;
}

.rp-inventory-container-slot {
    width: 40px;
    height: 40px;
    display: inline-table;
    padding: 2px;
}

.rp-inventory-container table {
    background-size: 100%;
    border-spacing: 0px;
    width: 100%;
}

.rp-inventory-container table {
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
}

.rp-inventory-container th {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
}

.rp-inventory-container table td {
    height: 36px;
    border: 0px;
    padding: 2px;
    color: #a99877;
}

.rp-inventory-container table .rp-inventory-header-empty {
    height: 0px;
    padding: 0px;
}

.rp-inventory-col-rs {
    width: 30px;
    text-align: center;
}

 .rp-inventory-col-be {
    width: 40px;
    text-align: center;
}

.rp-inventory-header-rs {
    width: 30px;
}

.rp-inventory-header-rs img {
    margin-top: 4px;
}

.rp-inventory-header-rs span {
    display: none;
}

.rp-inventory-header-rs:hover .rp-inventory-tooltip-rs {
    display: block;
    position: absolute;
    margin-left: -4px;
    margin-top: -64px;
    z-index: 1;
    background-color: #22211f;
    border: 1px solid white;
    padding: 10px;
    line-height: 14px;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: 2px 2px #000000;
}

.rp-inventory-armor-display {
    background-image: url('../img/shapes/female.png');
    width: 120px;
    height: 240px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.rp-inventory-panel-rs {
    background-image: url('../img/shapes/rs_panel.png');
    width: 31px;
    height: 29px;
    text-align: center;
    text-indent: -6px;
    line-height: 20px;
    display: block;
    position: absolute;
    color: #ffffff;
}

.rp-inventory-panel-rs-ko {
    top: -10px;
    left: 48px;
}

.rp-inventory-panel-rs-br-ru {
    background-image: url('../img/shapes/rs_panel2.png');
    width: 47px;
    top: 50px;
    left: 40px;
}

.rp-inventory-panel-rs-ba {
    top: 110px;
    left: 48px;
}

.rp-inventory-panel-rs-la {
    top: 80px;
    left: 96px;
}

.rp-inventory-panel-rs-ra {
    top: 80px;
    left: 0px;
}

.rp-inventory-panel-rs-lb {
    top: 160px;
    left: 96px;
}

.rp-inventory-panel-rs-rb {
    top: 160px;
    left: 0px;
}

.rp-inventory-container-title {
    background-image: url('../img/shapes/container_title_armor.png');
    height: 45px;
}

.rp-inventory-item-slot {
    width: 32px;
    height: 32px;
    line-height: 0px;  
}

.rp-inventory-item-border-sunken {
    border-top: 2px solid rgba(0, 0, 0, 0.35);
    border-left: 2px solid rgba(0, 0, 0, 0.35);
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}

.rp-inventory-item-border-raised {
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    border-left: 2px solid rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid rgba(0, 0, 0, 0.35);
    border-right: 2px solid rgba(0, 0, 0, 0.35);
}

.rp-inventory-item-slot-border-select {
    position: relative;
    width: 32px;
    height: 32px;
    border: 2px solid black;
      
    background-image: url('../img/slot.png');
    background-size: 32px;

    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.rp-inventory-item-slot-border-select:hover .rp-inventory-item-info-popup {
    display: block;
}

.rp-inventory-item-icon {
    width: 32px;
    height: 32px;
}

.rp-inventory-item-info-popup {
    position: absolute;
    left: 40px;
    top: -4px;
    z-index: 1000;
    width: 200px;
    height: auto;
    display: none;
    background-color: #22211f;
    border: 1px solid white;
    padding: 10px;
    line-height: 14px;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    color: #ffffff;
}

.rp-inventory-item-info-popup-left {
    left: -230px;
}

.rp-inventory-item-info-popup-header {
    margin-bottom: 5px;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

.rp-inventory-item-info-popup-flavor {
    margin-bottom: 5px;
    font-style: italic;
}

.rp-inventory-item-info-popup-description {
    margin-bottom: 5px;
}

.rp-inventory-item-info-popup-weight {
}

.rp-inventory-item-info-popup-price {
}

.rp-inventory-item-name {
    padding-left: 5px;
    padding-right: 5px;
    height: 31px;
    width: 150px;
    display: inline-block;
    overflow: hidden;
}

.rp-inventory-item-name-text {
    vertical-align: middle;
    display: table-cell;
    height: 36px;
    line-height: 14px;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: 2px 2px #000000;
}

.rp-inventory-item-trash {
    color: #9d9d9d;
}

.rp-inventory-item-mundane {
    color: #ffffff;
}

.rp-inventory-item-magic {
    color: #0070ff;
}

.rp-inventory-item-epic {
    color: #a335ee;
}

.rp-inventory-container-name {
    padding-left: 10px;
    line-height: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: top;
    font-family: Overlock;
    font-size: 18px;
}

.rp-inventory-shape {
}