

@font-face {
	font-family: Mason;
	src: url("../fonts/mason.ttf");
}
@font-face {
	font-family: Andalus;
	src: url("../fonts/andalus.ttf");
}
@font-face {
    font-family: GentiumBasic;
    src: url("../fonts/gentium.basic.regular.ttf");
}



.rp-inventory {
    margin-top: 10px;
	padding: 0px;
}

.rp-inventory-container {
	background-color: rgb(18, 17, 15); 
	background: url("../img/background.png") repeat;
    min-width: 325px;
	max-width: 656px;
	padding: 5px;
}
.rp-inventory-border {
	border: solid 7px;
	border-image: url("../img/border.png") 7 7 7 7;
}


.rp-inventory-header {
    margin-bottom: 8px;
}

.rp-inventory-popup-create {
    position: absolute;
    z-index: 100;
    width: 600px;
    height: 550px;
    display: block;
    visibility: collapse;
    background-image: url('../img/shapes/armor-bg.jpg');
    background-repeat: repeat-x;
    background-color: #22211f;
    border: 1px solid white;
    padding: 10px;
}

.rp-inventory-popup-create textarea {
    height: 100px;
    width: 400px;
}

.rp-inventory-popup-create input {
    width: 402px;
}

.rp-inventory-popup-create-icon {
    position: absolute;
    left: 10px;
    top: 60px;
    z-index: 110;
    width: 578px;
    height: 450px;
    display: block;
    visibility: collapse;
    background-image: url('../img/shapes/armor-bg.jpg');
    background-repeat: repeat-x;
    background-color: #22211f;
    border: 1px solid white;
    padding: 10px;
}

.rp-inventory-popup-create-icon-list {
    width: 100%;
    height: 375px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.rp-inventory-button {
    width: 80px;
    height: 32px;
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    border-left: 2px solid rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid rgba(0, 0, 0, 0.35);
    border-right: 2px solid rgba(0, 0, 0, 0.35);
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    line-height: 32px;
    cursor: default;
    display: inline-block;
}

.rp-inventory-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.rp-inventory-container-icon {
    width: 45px;
    height: 38px;
    display: inline-block;
}

.rp-inventory-container-icon-armor {
}

.rp-inventory-container-icon-default {
}

/*
.rp-inventory-container {
    margin-top: 10px;
    width: 660px;
    position: relative;
}
.rp-inventory-container {
    margin-top: 10px;
	width: 666px;
	border: solid 7px;
	border-image: url(../img/border.png) 7 7 7 7;
	background-color: rgb(18, 17, 15); 
	background: url(../img/background.png) repeat;
}
*/

.rp-inventory-container-content {
    background-image: url('../img/shapes/armor-bg.jpg');
    background-repeat: repeat-x;
    background-color: #22211f;
    margin-bottom: 8px;
}

.rp-inventory-container-bottom {
    background-image: url('../img/shapes/container_bottom.png');
    height: 30px;
    bottom: -12px;
    z-index: 1;
    position: relative;
}

.rp-inventory-container-slot {
    width: 40px;
    height: 40px;
    display: inline-table;
}


/*	-==========================- TABLET -==========================-  */
@media only screen and (min-width:640px) {
	.rp-inventory-container-armorset table {
        background-size: 100%;
        border-spacing: 0px;
        width: 100%;
    }

    .rp-inventory-container-armorset table .rp-inventory-col-name {
        width: 160px;
    }

    .rp-inventory-container-armorset table .rp-inventory-col-img {
        width: 200px;
    }

    .rp-inventory-item-name {
        width: 150px;
    }
}

/*	-==========================- MOBILE -==========================-  */
@media only screen and (min-width:240px) and (max-width:639px) {
	.rp-inventory-container-armorset table {
        background-size: 100%;
        border-spacing: 0px;
        width: 300px;
    }

    .rp-inventory-container-armorset table .rp-inventory-col-name {
        width: 130px;
    }

    .rp-inventory-container-armorset table .rp-inventory-col-rs {
        display: none;
    }

    .rp-inventory-container-armorset table .rp-inventory-col-be {
        display: none;
    }

    .rp-inventory-container-armorset table .rp-inventory-col-img {
        width: 128px;
    }

    .rp-inventory-item-name {
        width: 120px;
    }
}


.rp-inventory-container-armorset table {
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
}

.rp-inventory-container-armorset th {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
}

.rp-inventory-container-armorset table td {
    height: 36px;
    border: 0px;
    padding: 0px;
    color: #a99877;
}

.rp-inventory-container-armorset table td .rp-inventory-equipment-item-details {
    display: none;
}

.rp-inventory-container-armorset table .rp-inventory-header-empty {
    height: 0px;
    padding: 0px;
}

.rp-inventory-col-rs {
    width: 30px;
    text-align: center;
}

 .rp-inventory-col-be {
    width: 40px;
    text-align: center;
}

.rp-inventory-header-rs {
    width: 30px;
}

.rp-inventory-header-rs img {
    margin-top: 4px;
}

.rp-inventory-header-rs span {
    display: none;
}

.rp-inventory-header-rs:hover .rp-inventory-tooltip-rs {
    display: block;
    position: absolute;
    margin-left: -4px;
    margin-top: -64px;
    z-index: 1;
    background-color: #22211f;
    border: 1px solid white;
    padding: 10px;
    line-height: 14px;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: 2px 2px #000000;
}

.rp-inventory-armor-display {
    background-image: url('../img/shapes/female.png');
    width: 120px;
    height: 240px;
    display: inline-block;
    position: relative;
    top: 10px;
}

.rp-inventory-panel-rs {
    background-image: url('../img/shapes/rs_panel.png');
    width: 31px;
    height: 29px;
    text-align: center;
    text-indent: -6px;
    line-height: 20px;
    display: block;
    position: absolute;
    color: #ffffff;
}

.rp-inventory-panel-rs-ko {
    top: -10px;
    left: 48px;
}

.rp-inventory-panel-rs-br-ru {
    background-image: url('../img/shapes/rs_panel2.png');
    width: 47px;
    top: 50px;
    left: 40px;
}

.rp-inventory-panel-rs-ba {
    top: 110px;
    left: 48px;
}

.rp-inventory-panel-rs-la {
    top: 80px;
    left: 96px;
}

.rp-inventory-panel-rs-ra {
    top: 80px;
    left: 0px;
}

.rp-inventory-panel-rs-lb {
    top: 160px;
    left: 96px;
}

.rp-inventory-panel-rs-rb {
    top: 160px;
    left: 0px;
}

.rp-inventory-container-title {
    background-image: url('../img/shapes/container_title_armor.png');
    height: 45px;
}

.rp-inventory-item-slot {
    width: 32px;
    height: 32px;
    line-height: 0px;  
}

.rp-inventory-item-border-sunken {
    border-top: 2px solid rgba(0, 0, 0, 0.35);
    border-left: 2px solid rgba(0, 0, 0, 0.35);
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}

.rp-inventory-item-border-raised {
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    border-left: 2px solid rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid rgba(0, 0, 0, 0.35);
    border-right: 2px solid rgba(0, 0, 0, 0.35);
}

.rp-inventory-equipment-item-slot-select {
    position: relative;
    width: 32px;
    height: 32px;
    border: 2px solid black;
      
    background-image: url('../img/slot.png');
    background-size: 32px;

    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.rp-inventory-equipment-item-slot-select:hover .rp-inventory-item-info-popup {
    display: block;
}

.rp-inventory-item-icon {
    width: 32px;
    height: 32px;
}

.rp-inventory-item-info-popup {
    position: absolute;
    left: 40px;
    top: -4px;
    z-index: 1000;
    width: 200px;
    height: auto;
    display: none;
    background-color: #22211f;
    border: 1px solid white;
    padding: 10px;
    line-height: 14px;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    color: #ffffff;
}

.rp-inventory-item-info-popup-left {
    left: -230px;
}

.rp-inventory-item-info-popup-header {
    margin-bottom: 5px;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}

.rp-inventory-item-info-popup-flavor {
    margin-bottom: 5px;
    font-style: italic;
}

.rp-inventory-item-info-popup-description {
    margin-bottom: 5px;
}

.rp-inventory-item-info-popup-weight {
}

.rp-inventory-item-info-popup-price {
}

.rp-inventory-item-name {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    overflow: hidden;
}

.rp-inventory-item-name-text {
    vertical-align: middle;
    display: table-cell;
    height: 42px;
    line-height: 14px;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow: 2px 2px #000000;
}

.rp-inventory-item-poor {
    color: #9d9d9d;
}

.rp-inventory-item-common {
    color: #ffffff;
}

.rp-inventory-item-magic {
    color: #0070ff;
}

.rp-inventory-item-rare {
    color: #ffff00;
}

.rp-inventory-item-epic {
    color: #a335ee;
}

.rp-inventory-container-name {
    padding-left: 10px;
    line-height: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: top;
    font-family: Overlock;
    font-size: 18px;
}

.rp-inventory-shape {
}




/* ******************************************************************************** */
/* *** Merchant ******************************************************************* */
/* ******************************************************************************** */


.rp-inventory-banner {
	position: relative;
	height: 160px;
    color: #a99877;
}

.rp-inventory-portrait-small {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 150px;
	height: 150px;
	background: url("../img/portrait.default.jpg");
	background-size: 150px;
	background-position-y: -10px;
}
			
.rp-inventory-portrait-small-frame {
	width: 150px;
	height: 150px;
	background: url("../img/portrait.small.frame.png");
}
			
.rp-inventory-banner-heading {
    position: absolute;
    top: 30px;
    left: 155px;
    right:  0px;
    height: 70px;
    background-image: url("../img/banner.heading.png");
    background-position-x: right;
    line-height: 74px;
    text-indent: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Andalus;
    padding-right: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
					
.rp-inventory-banner-subheading {
    position: absolute;
    top: 105px;
    left: 155px;
    right: 50px;
    height: 20px;
    line-height: 20px;
    text-indent: 20px;
    font-size: 14px;
    font-family: Andalus;
    font-style: italic;
	padding-right: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
			
.rp-inventory-banner a {
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 43px;
	width: 43px;
	background-image: url("../img/button.tick.png");
    cursor: pointer;
}

.rp-inventory-banner a:before {
	height: 43px;
	width: 43px;
	color: rgba(255,255,255,.5);
	font: 400 20px/1 dashicons;
	speak: none;
	display: inline-block;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none!important;
	vertical-align: middle;
	text-align: center;
	line-height: 43px;
}

.rp-inventory-banner-expander-default:before {
	content: "\f347";
}

.rp-inventory-banner-expander-pressed:before {
	content: "\f343";
}

.rp-inventory-merchant-content {
    margin-top: 10px;    
}

.rp-inventory-container-block {
	display: inline-block;
	vertical-align: top;
	width: 325px;
}
			
.rp-inventory-container-parchment {
}
.rp-inventory-parchment {
	position: relative;
	width: 325px;
	min-height: 300px;
	padding: 60px 0px 75px 0px;
    background-image: url("../img/parchment.top.png"), url("../img/parchment.bottom.png"), url("../img/parchment.mid.png");
	background-repeat: no-repeat, no-repeat, repeat-y;
	background-position: left top, left bottom, left top;
	background-clip: border-box, border-box, content-box;
}
.rp-inventory-parchment-crest-dragon {
	position: absolute;
	top: -10px;
	height: 100px;
	width: 325px;
	background: url("../img/crests/dragon.png") center top no-repeat;
}
.rp-inventory-parchment-content {
	padding: 0px 35px 0px 35px;
	text-align: center;
	font-family: GentiumBasic;
	font-size: 10pt;
	line-height: 11pt;
    color: #000000;
}
.rp-inventory-parchment-content h1 {
	position: relative;
	padding: 16px 0px 16px 0px;
	background-image: url("../img/heading.top.png"), url("../img/heading.bottom.png"), url("../img/heading.mid.png");
	background-repeat: no-repeat, no-repeat, repeat-y;
	background-position: left top, left bottom, left top;
	background-clip: border-box, border-box, content-box;
				
	color: #56442b;
				
	font-family: Andalus;
	font-size: 22px;
	font-weight: bold;
	line-height: 25px;
/*	
	font-family: Mason;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
*/
}
.rp-inventory-parchment-content h1:before, .rp-inventory-parchment-content h1:after {
	content: "";
	height: 4px;
	display: block;
}
.rp-inventory-parchment-content hr {
	position: relative;
	height: 16px;
	width: 100%;
	background: url("../img/heading.line.png") center center no-repeat;
	border: none;
}

.rp-inventory-container-portrait {
    position: relative;
	top: 8px;
	width: 300px;
	margin: 0px auto 20px auto;
}
.rp-inventory-portrait-huge {
    width: 300px;
    height: 430px;
    background-image: url("../img/portrait.default.jpg");
    background-size: cover;
}
.rp-inventory-portrait-frame {
    width: 300px;
    height: 430px;
    background-image: url("../img/image.frame.png");
    position: absolute;
    top: 0px;
}
.rp-inventory-portrait-name {
    height: 56px;
    padding-top: 5px;
    line-height: 50px;
    text-align: center;
                
    color: #56442b;
                
    font-family: Andalus;
    font-size: 18px;
    font-weight: bold;
}

.rp-inventory-container-equipment {
    margin: 0px 5px 20px 5px;
}

.rp-inventory-equipment {
    position: relative;
}

.rp-inventory-equipment div a:before {
    position: absolute;
    top: 6px;
    right: 5px;
	height: 18px;
	width: 20px;
	color: white;
	padding-top: 1px;
	font: 400 11px/1 dashicons;
	speak: none;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none!important;
	vertical-align: middle;
	text-align: center;
	line-height: 20px;
	background-image: url("../img/button.tick.png");
	background-size: 20px 20px;
	cursor: pointer;
}
.rp-inventory-equipment-grid .rp-inventory-equipment-item-details {
    display: none;
}
.rp-inventory-equipment-list .rp-inventory-equipment-item-details {
    display: table-cell;
}
.rp-inventory-equipment-grid .rp-inventory-equipment-display-button:before {
	content: "\f333"; /* dashicons-menu */
}
.rp-inventory-equipment-list .rp-inventory-equipment-display-button:before {
	content: "\f180"; /* dashicons-screenoptions */
}
.rp-inventory-equipment-list .rp-inventory-container-slot-empty {
    display: none;
}

.rp-inventory-equipment h2 {
    border-width: 4px 0px 4px 0px;
    border-style: solid;
    border-color: black;
    border-image: url(../img/inventory.border.png) 4 4 4 4;
    background-image: url(../img/background.heading.png);
    margin: 0px;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    min-height: 24px;
    text-align: center;
    text-transform: uppercase;
}
.rp-inventory-equipment-items {
    border-top: 16px solid black;
    border-image: url(../img/background.edge.png) 16 0 0 0;
    background-image: url(../img/background.png);
    font-size: 0px;
    line-height: 0px;
}
.rp-inventory-equipment-item {
    display: inline-table;
    height: 42px;
    margin: 0px 0px 1px 1px;
}
.rp-inventory-equipment-item-slot {
    display: table-cell;
    width: 42px;
    height: 42px;
}
.rp-inventory-equipment-item-slot-border {
    border: 3px solid;
    border-image: url("../img/slot.border.png") 3 3 3 3;
}
.rp-inventory-equipment-item-slot-select {
    position: relative;
    width: 32px;
    height: 32px;
    border: 2px solid black;
    background: url("../img/slot.png") no-repeat;
    background-size: 32px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
.rp-inventory-item-icon {
    width: 32px;
    height: 32px;
}
.rp-inventory-equipment-item-details {
    display: table-cell;
    width: 100%;
    height: 42px;
    /* background: rgba(0,0,0,.5); */
    color: white;
    line-height: 42px;
    vertical-align: top;
}
.rp-inventory-equipment-item-details-content {
    display: block;
    width: 240px;
    padding: 0px 10px 0px 10px;    
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    color: #ffffff;
}
.rp-inventory-equipment-item-text {
	float: left;
	width: 170px;
    font-weight: bold;
}
.rp-inventory-equipment-item-price {
	float: left;
	width: 70px;
	text-align: right;
}
.rp-inventory-equipment-item-price:not(:empty):after {
	content: "";
	width: 16px;
	height: 16px;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/coin.png");
}
			
.rp-inventory-equipment-merchant {
}

.rp-inventory-container-heroselector {
}

.rp-inventory-container-merchant-details {
    padding: 13px;
    margin-top: 25px;
    height: 86px;
}

.rp-inventory-container-merchant-details-portrait {
    
}

.rp-inventory-container-merchant-details-portrait-frame {    float: left;    border: 3px solid;
    border-image: url("../img/slot.border.png") 3 3 3 3;
}

.rp-inventory-container-merchant-details-portrait-image {
    width: 80px;
    height: 80px;
    background-image: url("../img/portrait.default.jpg");
    background-size: cover;
}

.rp-inventory-heroselector-container-button-disabled {
    display: none;
}

.rp-inventory-container-merchant-details-button a {
    color: #56442b;
}

.rp-inventory-container-merchant-details-button a:hover {
    color: white;
}

.rp-inventory-container-merchant-details-button a:before {
    height: 80px;
    width: auto;
    font: 800 11px/1 dashicons;
    speak: none;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    vertical-align: middle;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
}

.rp-inventory-container-merchant-details-button-prev a:before {
    content: "\f341"; /* dashicons-arrow-left-alt2 */
}

.rp-inventory-container-merchant-details-button-next a:before {
    content: "\f345"; /* dashicons-arrow-right-alt2 */
}

.rp-inventory-container-merchant-details-info {
}

.rp-inventory-container-merchant-details-info-content {
    float: right;
    height: 80px;
    width: 160px;
    padding: 3px;
    margin-left: 10px;
}
.rp-inventory-container-merchant-details-info-content-name {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    min-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.rp-inventory-container-merchant-details-info-content-gold {
    width: 160px;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    line-height: 14px;
    text-align: right;
    padding-top: 38px;
}

.rp-inventory-container-merchant-actions {
    padding-left: 13px;
    padding-right: 13px;
    text-align: right;
}

.rp-inventory-container-merchant-actions-of-hero {
    display: inline-block;
}

.rp-inventory-container-merchant-actions-of-merchant {
    display: inline-block;
}

.rp-inventory-container-merchant-actions-of-hero .rp-inventory-container-merchant-action-buy {
    display: none;
}

.rp-inventory-container-merchant-actions-of-merchant .rp-inventory-container-merchant-action-sell {
    display: none;
}

.rp-inventory-container-merchant-action-buy a:before {
    content: "Kaufen";
}

.rp-inventory-container-merchant-action-sell a:before {
    content: "Verkaufen";
}

.rp-inventory-container-merchant-action {
    display: inline-block;
    height: 43px;
    width: 120px;
    background-image: url("../img/button.left.png"), url("../img/button.right.png"), url("../img/button.mid.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left top, right top, left top;
    cursor: pointer;
}

.rp-inventory-container-merchant-actions a {
    display: block;
}

.rp-inventory-container-merchant-actions a:hover {
    text-decoration: none;
}

.rp-inventory-container-merchant-actions a:before {
    display: block;
    padding-top: 1px;
    color: rgba(255,255,255,.5);
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    line-height: 43px;
}

.rp-inventory-container-merchant-actions:hover a:before {
    color: white;
}

