
.rp-inventory-admin h2 {
    white-space: nowrap;
}

.rp-inventory-admin-table-buttons {
    text-align: right;
    width: 100%;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Partys
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#rp-inventory-admin-select-party {
    margin-left: 10px;
    margin-top: 0px;
    min-width: 150px;
}

#rp-inventory-admin-table-party-add {
    display: none;
    margin-left: 0px;
    margin-top: 13px;
    border-top: 1px solid #ddd;
}

#rp-inventory-admin-create-party-name {
    width: 241px;
}

#rp-inventory-admin-create-party-current-day {
    width: 50px;
    text-align: right;
    margin-top: -3px;
}

#rp-inventory-admin-create-party-current-month {
    width: 100px;
    text-align: right;
    margin-top: -3px;
}

#rp-inventory-admin-create-party-current-year {
    width: 80px;
    text-align: right;
}

#rp-inventory-admin-table-party-add-shading {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Heroes
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.rp-inventory-admin-table-heroes {
}

.rp-inventory-admin-hero {
    display: inline-block;
    border: 1px solid black;
}

.rp-inventory-admin-hero-thumbnail {
    position: relative;
    top: 0px;
    width: 81px;
    height: 84px;
}

.rp-inventory-admin-hero-thumbnail:hover {
    background: rgba(0, 0, 0, 0.5);
}

.rp-inventory-admin-hero-thumbnail-name {
    position: absolute;
    bottom: 0px;
    width: 81px;
    background-color: rgba(0, 0, 0, 0.75);

    color: #fff;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.rp-inventory-admin-table-hero {
    width: 100%;
}

.rp-inventory-admin-table-hero-label {
    width: 120px;
}

.rp-inventory-admin-table-hero-gp {
    width: 40px;
    text-align: center;
}

.rp-inventory-admin-table-hero-tgp {
    width: 40px;
    text-align: center;
}

.rp-inventory-admin-table-hero-ap {
    width: 40px;
    text-align: center;
}

.rp-inventory-admin-table-hero-name {
    width: 240px;
}

.rp-inventory-admin-table-hero-edit {
    width: 30px;
    text-align: right;
}
