
.rp-inventory-admin h2 {
    white-space: nowrap;
}

.rp-inventory-admin-table-buttons {
    text-align: right;
    width: 100%;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Partys
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#rp-inventory-admin-select-party {
    margin-left: 10px;
    margin-top: 0px;
    min-width: 150px;
}

#rp-inventory-admin-table-party-add {
    display: none;
    margin-left: 0px;
    margin-top: 13px;
    border-top: 1px solid #ddd;
}

#rp-inventory-admin-create-party-name {
    width: 241px;
}

#rp-inventory-admin-create-party-current-day {
    width: 50px;
    text-align: right;
    margin-top: -3px;
}

#rp-inventory-admin-create-party-current-month {
    width: 100px;
    text-align: right;
    margin-top: -3px;
}

#rp-inventory-admin-create-party-current-year {
    width: 80px;
    text-align: right;
}

#rp-inventory-admin-table-party-add-shading {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Heroes
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.rp-inventory-admin-table-heroes {
    margin-bottom: 10px;
}

.rp-inventory-admin-hero {
    display: inline-block;
    border: 1px solid black;
}

.rp-inventory-admin-hero-thumbnail {
    position: relative;
    top: 0px;
    width: 81px;
    height: 84px;
}

.rp-inventory-admin-hero-thumbnail:hover {
    background: rgba(0, 0, 0, 0.5);
}

.rp-inventory-admin-hero-thumbnail-name {
    position: absolute;
    bottom: 0px;
    width: 81px;
    background-color: rgba(0, 0, 0, 0.75);

    color: #fff;
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.rp-inventory-admin-table-hero {
    width: 100%;
}

.rp-inventory-admin-table-hero-details {
    margin-bottom: 20px;
}

.rp-inventory-admin-table-hero-label {
    width: 120px;
    white-space: nowrap;
}

.rp-inventory-admin-table-hero-gp {
    width: 40px;
    text-align: center;
}

.rp-inventory-admin-table-hero-tgp {
    width: 40px;
    text-align: center;
}

.rp-inventory-admin-table-hero-ap {
    width: 40px;
    text-align: center;
}

.rp-inventory-admin-table-hero-name {
    width: 240px;
    max-width: 420px;
    overflow-x: hidden;
}

.rp-inventory-admin-table-hero-label a:before {
    content: "\f464";
    top: -1px;
    color: #82878c;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    vertical-align: top;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Properties
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.rp-inventory-admin-table-properties {
    margin-bottom: 10px;
    border-spacing: 2px;
}

.rp-inventory-admin-table-properties td, .rp-inventory-admin-table-properties th {
    height: 30px;
    position: relative;
    line-height: 30px;
}

.rp-inventory-admin-table-properties div {
    width: 100%;
    position: absolute;
    top: 0px;
    padding: 1px;
}

.rp-inventory-admin-table-properties input {
    width: 100%;
    position: absolute;
    left: -1px;
    top: 0px;
}

.rp-inventory-admin-table-property-value {
    width: 40px;
}

.rp-inventory-admin-table-property-value input {
    text-align: center;
}

.rp-inventory-admin-table-property-value div {
    text-align: center;
}

.rp-inventory-admin-table-property-name {
    width: 350px;
    text-align: left;
    padding-left: 5px;
}

.rp-inventory-admin-table-property-name div a:before {
    content: "\f464";
    top: -2px;
    color: #82878c;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    vertical-align: middle;
}

.rp-inventory-admin-table-property-name span a:before {
    content: "\f147";
    top: -2px;
    left: 100%;
    margin-left: 5px;
    color: #82878c;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    vertical-align: middle;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Details
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.rp-inventory-admin-table-details {
    margin-bottom: 10px;
    border-spacing: 2px;
}

.rp-inventory-admin-table-details td {
    height: 30px;
    position: relative;
    line-height: 30px;
}

.rp-inventory-admin-table-detail-name {
    width: 150px;
    text-align: left;
    padding-left: 5px;
    vertical-align: top;
}

.rp-inventory-admin-table-detail-value {
    width: 350px;
    vertical-align: top;
}

.rp-inventory-admin-table-detail-value input {
    width: 320px;
}

.rp-inventory-admin-table-detail-value textarea {
    width: 320px;
    height: 200px;
}

.rp-inventory-admin-table-detail-value span {
    float: right;
}

.rp-inventory-admin-table-detail-value span a:before {
    content: "\f147";
    top: -2px;
    margin-left: 5px;
    color: #82878c;
    font: 400 20px/1 dashicons;
    speak: none;
    display: inline-block;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
    vertical-align: middle;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Equipment
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.rp-inventory-container-slot-empty {
    display: none;
}

.rp-inventory-equipment-item-text, .rp-inventory-equipment-item-price {
    color: black;
}

.rp-inventory-popup-create {
    position: absolute;
    z-index: 100;
    display: block;
    visibility: collapse;
    text-align: left;
}

.rp-inventory-popup-create select {
    width: 402px;
}

.rp-inventory-popup-create textarea {
    height: 100px;
    width: 400px;
}

.rp-inventory-popup-create table input {
    width: 402px;
}

.rp-inventory-popup-create-icon {
    position: absolute;
    left: 10px;
    top: 60px;
    z-index: 110;
    display: block;
    visibility: collapse;
    padding: 10px;
}

.rp-inventory-popup-create-icon-list {
    width: 100%;
    height: 375px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

#rp-inventory-create-folder, #rp-inventory-create-subfolder {
    width: 200px;
}

.rp-inventory-item-border-sunken {
    background: url("../img/background.png") repeat;
}

.rp-inventory-item-name {
    position: relative;
    top: -4px;    
    height: 34px;
    font-weight: bold;
}
